.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4e342e;
}

.navigation a {
  margin-right: 1rem;
  text-decoration: none;
  color: #4e342e;
}

.buttons button {
  background-color: transparent;
  color: #4e342e;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.buttons .start-now {
  border-radius: 5px;
  border: none;
  background-color: #4e342e;
  color: #fff;
}

.login {
  border-radius: 5px;
  border: none;
}
