.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*<------- Estilos para o cabeçalho ------->*/

.fundo {
  background-image: url(./img/bg\ 1\ 1.png);
  scroll-margin-inline-start: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4e342e;
}

.navigation a {
  margin-right: 1rem;
  text-decoration: none;
  color: #4e342e;
}

.buttons button {
  background-color: transparent;
  color: #4e342e;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.buttons .start-now {
  border-radius: 5px;
  border: none;
  background-color: #4e342e;
  color: #fff;
}

.login {
  border-radius: 5px;
  border: none;
}

/*<------- Estilos para a seção "Harmonia" ------->*/

.harmonia-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.text-content h1 {
  color: var(--grey-700, #1f1f1e);
  font-family: Urbanist;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-content p {
  color: var(--grey-600, #3e3d3b);
  font-family: Urbanist;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.img-wrapper .img1 {
  margin-left: 350px;
  /*width: 100px;*/
}

.img-wrapper .img2 {
  margin-left: 250px;
  margin-right: 250px;
  /*width: 100px;*/
}

.img-wrapper .img3 {
  margin-left: 350px;
  /*width: 100px;*/
}

/*<------- Estilos para a seção "Logos" ------->*/

.logos-section {
  background-color: lightblue;
  padding: 20px;
}

.logos-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  flex-shrink: 0;
}

.logos-container img {
  width: 50px;
  height: auto;
  margin: 0 10px;
}

/*<------- Estilos para a seção "Aprenda" ------->*/

.music-learning-section {
  background-color: #fcfbd0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.text-content {
  max-width: 50%;
}

.text-content h1 {
  color: var(--grey-700, #1f1f1e);
  display: flex;
  width: 541px;
  height: 144px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-size: 41px;
}

/*Puxando daqui a tag <p> da seção "Harmonia"*/
.text-content p {
  color: var(--grey-600, #1f1f1e);
  font-family: Urbanist;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.discover-more-btn {
  background-color: #704214;
  color: #fff;
  padding: 15px 25px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  gap: 15px;
  border: none;
}

.image-content2 img {
  max-width: 60%;
  height: auto;
  flex-shrink: 0;
  margin-top: 65px;
}

/*<------- Estilos para a seção "Instrumentos Musicais" ------->*/

.instrumentos {
  background-image: url("./img/instrumentos.png");
  font-family: Urbanist;
  text-align: center;
  padding: 20px;
}

.instrumentos p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.card {
  background-color: #fcfbd0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px); /* Eleva o card ao passar o mouse */
}

.card img {
  width: 126px;
  height: 126px;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  color: #555;
}

.btn-saiba-mais {
  display: block;
  width: max-content;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  text-align: center;
}
